
.heading{
  color: rgb(31, 31, 89);
}
.profile-card{
  border:2px solid black;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  height:500px;
  width:300px ;
  background-color: rgb(96, 1, 93);
  padding: 20px;
  color: rgb(206, 192, 192);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.95);
}
.profile-img{
  width: 150px;
  border: 2px solid rgb(248, 211, 4);
  border-radius: 500px;
  margin-top: 10px;
}
.details{
  justify-content: center;
  list-style: none;
}
.social-links a{
  text-decoration: none;
  color: bisque;
}
b{
  color: rgb(65, 65, 201);
}